<%
// Компонент ComboBox: выпадающий список с поиском и подсветкой совпадений
// - Обрабатывает клики и ввод пользователя
// - Фильтрует список по всему тексту (default) или по первой букве (firstLetter)
// - Поддерживает иконки очистки и открытия списка
// - Настраивается через объект настроек ComboBoxSettings
//
// В шаблоне (EJS) подключается так:
//
// <\%- include('externe/components/ComboBox/ComboBox.ejs', {
//     combobox_component: {
//         this: {
//             parent: 'Parent',
//             class: ['childClass'],
//             tag: 'article',
//             style: ['customStyle'],
//             dataAttribute: ['customDataAttributes'] 
//         },
//         prestyled: 'full',
//         label: 'Выберите город',
//         placeholder: 'Начните вводить',
//         icons: {
//             input_dispose: '../icons/sprite.svg#angle-down-solid-full',
//             input_close: '../icons/sprite.svg#xmark-solid-full',
//             p: '../icons/sprite.svg#plus-solid-full'
//         },
//         data: [
//             { flag: 'de', city: 'Deutschland' },
//             { flag: 'fr', city: 'France' },
//             { flag: 'es', city: 'España' }
//         ]
//     }
// }) %>
%>
<% 
    if(typeof combobox_component === 'undefined' || !combobox_component) {
        return
    }

    var thisClass = 'combobox'
    if(
        (typeof combobox_component.this !== 'undefined' && combobox_component.this) &&
        (typeof combobox_component.this.parent !== 'undefined' && combobox_component.this.parent)
    ) {
        thisClass = `${combobox_component.this.parent}__combobox combobox`
    } else if(
        (typeof combobox_component.this !== 'undefined' && combobox_component.this) &&
        (typeof combobox_component.this.class !== 'undefined' && combobox_component.this.class)
    ) {
        if(typeof combobox_component.this.class === 'string') {
			thisClass = `${combobox_component.this.class} combobox`
		} else if(typeof combobox_component.this.class === 'object') {
			thisClass = `${combobox_component.this.class.join(' ')} combobox`
		}
    }

    var thisTag = 'article'
	if(
		(typeof combobox_component.this !== 'undefined' && combobox_component.this) &&
		(typeof combobox_component.this.tag !== 'undefined' && combobox_component.this.tag)
	) {
		thisTag = combobox_component.this.tag
	}

    var thisStyles = undefined
    if(
		(typeof combobox_component.this !== 'undefined' && combobox_component.this) &&
		(typeof combobox_component.this.style !== 'undefined' && combobox_component.this.style)
	) {
        if(typeof combobox_component.this.style === 'string') {
			thisStyles = `style='${combobox_component.this.style}'`
		} else if(typeof combobox_component.this.style === 'object') {
			thisStyles = `style='${combobox_component.this.style.join(' ')}'`
		}
	}

    var input_placeholder = undefined
    if(typeof combobox_component.placeholder !== 'undefined' && combobox_component.placeholder)
    {
        input_placeholder = `placeholder='${combobox_component.placeholder}'`
    }

    var input_id = `cb${Math.random().toString(36).slice(2, 8)}-${new Date().getTime()}`
    var thisDataAttributes = `data-fsc-combobox-id=${input_id} data-fsc-combobox-collapsed=false`
    var input_prestyled = undefined
    if(typeof combobox_component.prestyled !== 'undefined' && combobox_component.prestyled)
    {
        thisDataAttributes += ` data-fsc-combobox-prestyled data-fsc-combobox-prestyledType=${combobox_component.prestyled}`
    }

	if(
		(typeof combobox_component.this !== 'undefined' && combobox_component.this) &&
		(typeof combobox_component.this.dataAttribute !== 'undefined' && combobox_component.this.dataAttribute)
	) {
		if(typeof combobox_component.this.dataAttribute === 'string')
        {
            thisDataAttributes += ' ' + combobox_component.this.dataAttribute
        }
        else if(typeof combobox_component.this.dataAttribute === 'object')
        {
            thisDataAttributes += ' ' + combobox_component.this.dataAttribute.join(' ')
        }
	}
%>

<<%=thisTag%> <%-thisDataAttributes%> class='<%=thisClass%>' <%-thisStyles%>>
    <% if(typeof combobox_component.label !== 'undefined' && combobox_component.label) { %>
        <label for=<%=input_id%> class='combobox__label'><%=combobox_component.label%></label> 
    <% } %>
    <input type="text" id=<%=input_id%> <%-input_placeholder%> data-fsc-combobox class='combobox__input'>
    <% if (
        (typeof combobox_component.icons !== 'undefined' && combobox_component.icons) &&
        (typeof combobox_component.icons.input_dispose !== 'undefined' && combobox_component.icons.input_dispose)
    ) { %>
        <svg data-fsc-combobox-input-icon-dispose data-fsc-combobox class="combobox__dispose">
            <use href='<%=combobox_component.icons.input_dispose%>'></use>
        </svg>
    <% } %>
    <% if(
        (typeof combobox_component.icons !== 'undefined' && combobox_component.icons) &&
        (typeof combobox_component.icons.input_close !== 'undefined' && combobox_component.icons.input_close)
    ) { %>
        <svg data-fsc-combobox-input-icon-close data-fsc-combobox class="combobox__close">
            <use href='<%=combobox_component.icons.input_close%>'></use>
        </svg>
    <% } %>
    <% if(typeof combobox_component.data !== 'undefined' && combobox_component.data) { %>
        <ul class="combobox__list">
            <% for(const obj of combobox_component.data) { %>
                <li data-fsc-combobox-item class="combobox__item">
                    <p>
                        <%=Object.values(obj).join(' ') %>
                        <% if(typeof combobox_component.icons.p !== 'undefined' && combobox_component.icons.p) { %>
                             <svg data-fsc-combobox-item data-fsc-combobox-p-icon class="combobox__p-icon">
                                <use href='<%=combobox_component.icons.p%>'></use>
                            </svg>
                        <% } %>
                    </p>
                </li>
            <% } %> 
        </ul>
    <% } %>
</<%=thisTag%>>